# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HELIPAD_LEFT
    def_bool $(shields_list_contains,helipad_left)

config SHIELD_HELIPADX_RIGHT
    def_bool $(shields_list_contains,helipad_right)