# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HELIPAD_RIGHT

config ZMK_KEYBOARD_NAME
    default "Helipad"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HELIPAD_LEFT || SHIELD_HELIPADX_RIGHT

config ZMK_SPLIT
    default y

endif